<head>
    <title>{{name}} - Edit</title>
</head>
<section>
    <h2>Edit {{name}}</h2>
    <form method="PUT" action="/auth/site/groups/{{id}}">
        <label>New Name*</label><br>    
        <input value="{{name}}" type="text" id="edit_name" onbluer=""name="name" required><br>
        <label>New Description*</label><br>
        <input value="{{description}}" id="edit_description" type="text" name="description" required><br>
        <input id="edit_group" type="button" value="Edit Group">
    </form>
</section>

<script type="application/ecmascript" src="/public/js/seca.js">
</script>
<script type="application/ecmascript">
    editGroup('{{token}}', '{{id}}')
</script>