<head>
    <title>{{name}}</title>
</head>
<section>
    <h1>{{name}}</h1>
    <p>Sale start: {{sale_start}}</p>
    <p>Sale end: {{end_time}}</p>
    <p>Date: {{dates}}</p>
    <p>Segment: {{segment}}</p>
    <p>Genre: {{genre}}</p>
    <p>Sub-genre: {{sub_genre}}</p>
    <img src="{{image}}">
</section>
